@import './message.scss';
@import './form.scss';

.chat {
  --border-color: #DBDBDB;
  background: url('Images/bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.chat__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
  min-height: 275px;
  max-height: calc(100vh - 275px);
  overflow-y: auto;
  padding: 50px 0;
}

.chat__item {
  width: 90%;
  max-width: 480px;
}

.chat__separator {
  align-self: stretch;
  display: flex;
  align-items: center;
  column-gap: 10px;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    border-top: 2px solid var(--border-color);
  }
}

.chat__hr {
  border: none;
  border-top: 2px solid var(--border-color);
}

.chat__form {
  width: 90%;
  max-width: 480px;
  min-height: 273px;
  align-self: center;
}