.second {
  display: grid;
  grid-template:
    "a b" auto
    "a c" auto
    / var(--col-1-3-width) 1fr;
  gap: var(--items-gap);
}

.second__item {
  aspect-ratio: 1 / 1;
  background: #A2A9B7;
  color: white;

  &--a { grid-area: a; }

  &--b { grid-area: b; }

  &--c { grid-area: c; }
}